.filter-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 10rem;
  padding: 0;
  padding: 1rem;
}

.filter-menu ul {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  list-style: none;
  height: 10rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
}

.filter-menu ul li {
  background: linear-gradient(135deg, rgba(201, 9, 18, 0.977), rgba(252, 8, 48, 0.815));
  color: #fff;
  position: absolute;
  width: 10rem;
  box-shadow: 0 1.15rem 3.5rem -0.5rem rgba(255, 6, 6, 0.618);
  border-radius: 0.5rem;
  transition: all 0.35s ease-in;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.35rem;
}

.filter-menu ul::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}