.filter-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 10rem;
  padding: 0;
  margin: 0 auto;
}

.filter-menu ul {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  list-style: none;
  height: 10rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
  margin: 0 auto;
}

.filter-menu ul li {
  background: linear-gradient(135deg, rgb(184, 27, 35), rgba(211, 31, 31, 0.815));
  color: #fff;
  position: absolute;
  width: 10rem;
  box-shadow: 0.15rem 1.15rem 2.5rem -0.9rem rgba(233, 29, 29, 0.818);
  border-radius: 0.5rem;
  transition: all 0.35s ease-in;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin: 0 1rem;
  font-size: 1.35rem;
  font-weight: 700;
}

.filter-menu ul::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

@media (min-width:660px) {
  .filter-menu ul {
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
  }

  .filter-menu ul li {
    width: 11rem;
    padding: 2rem 0;
    position: static;
  }
}