.movie-details {
  position: fixed;
  border-radius: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10000;
  background: #fff;
  animation: movie-details 0.75s ease-in-out;
  background-position: center center;
  background-size: 100% 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-details .btn-add--favorite {
  position: absolute;
  top: 1.15rem;
  right: 2rem;
  background: none;
  border: none;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.btn-add--favorite svg {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.15rem;
}

.movie-details--hide {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.details {
  position: absolute;
  top: 40%;
  color: #fff;
  padding: 1rem;
}

.movie-details::-webkit-scrollbar {
  display: none;
}

.details p {
  font-size: 1.45rem;
  margin: 1rem 0;
}

.details p span:nth-child(2) {
  margin: 0 1rem;
}

.details p span:nth-child(2)::before {
  content: '|';
  margin-right: 1rem;
}

.details h4 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 1.25px;
}

p.movie-details--overview {
  line-height: 1.45;
  font-size: 1.25rem;
}

.cast {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.cast h4 {
  width: 100%;
  margin-bottom: 1rem;
}

.cast span {
  font-size: 1.25rem;
  margin: 1rem 0;
  animation: fade-cast 1.5s ease-in-out;
}

.cast span::after {
  content: '|';
  margin: 0 1rem;
}

.see-more-cast {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  outline: none;
}

.play-trailer {
  background: none;
  border: none;
  margin: 0 auto;
  opacity: 0.75;
  cursor: pointer;
  transition: opacity 0.5s ease-in;
  outline: none;
  text-align: center;
  margin-top: -70%;
}

.play-trailer:hover {
  opacity: 1;
}

.play-trailer img {
  width: 5rem;
  height: 5rem;
}

.cast-list {
  overflow-y: hidden;
  width: 100%;
  list-style: none;
  height: 20rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
}

.movie-details ul::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.cast-list li {
  position: absolute;
  width: 10rem;
  box-shadow: 0.5rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  transition: all 0.35s ease-in;
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cast-list li p {
  position: absolute;
  bottom: -1rem;
  background: rgba(20, 20, 20, 0.745);
  padding: 0.5rem 0;
  border-radius: 0 0 1.5rem 1.5rem;
  width: 10rem;
  text-align: center;
}

.cast-list li img {
  width: 10rem;
  border-radius: 1.5rem;
}

@media (min-width: 960px) {
  .movie-details {
    justify-content: flex-start;
    padding: 0rem 5rem;
  }
  .details {
    width: 60%;
  }

  .play-trailer {
    top: -30%;
  }
}

@keyframes movie-details {
  0% {
    transform: translate3d(-100%, -100%, 0);
    opacity: 0;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-cast {
  0% {
    transform: translate3d(-20px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}