.movie-details {
  position: fixed;
  border-radius: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10000;
  animation: movie-details 0.75s ease-in-out;
  background-position: center center;
  background-size: 100% 100%;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: padding-top 0.5s ease-in;
}

.movie-details .btn-add--favorite {
  position: absolute;
  top: 1.15rem;
  right: 2rem;
  background: none;
  border: none;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: padding-top 0.5s ease-in;
}

.btn-add--favorite svg {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.15rem;
}

.movie-details--hide {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  z-index: 1000000;
  transition: padding-top 0.5s ease-in;
}

.movie-details::-webkit-scrollbar {
  display: none;
}

p.movie-details--overview {
  line-height: 1.45;
  font-size: 1.25rem;
}

.play-trailer {
  background: none;
  border: none;
  margin: 0 auto;
  opacity: 0.75;
  cursor: pointer;
  transition: opacity 0.5s ease-in;
  outline: none;
  text-align: center;
  margin-top: 25%;
  width: 100%;
}

.play-trailer:hover {
  opacity: 1;
}

.play-trailer img {
  width: 5rem;
  height: 5rem;
}

.movie-details ul::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

@media (min-width: 960px) {
  .movie-details {
    align-items: baseline;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .play-trailer {
    top: 0;
    margin-top: 25%;
    margin-bottom: 5rem;
  }
}

@keyframes movie-details {
  0% {
    transform: translate3d(-100%, -100%, 0);
    opacity: 0;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-cast {
  0% {
    transform: translate3d(-20px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}