.change-pos {
  position: absolute;
  padding: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.change-pos:last-of-type {
  right: 2rem;
}

@media (min-width: 960px) {
  .change-pos {
    display: block;
  }
}