.main-header {
  width: 100%;
  background: rgb(33, 30, 58);
  padding: 1rem;
  box-shadow: 0 0 20px rgba(33, 30, 58, 0.35);
}

.main-header img {
  width: 5rem;
  height: 5rem;
}

#movie-search {
  width: 80%;
  padding: 1rem;
  position: relative;
  margin: 0 auto;
}

#movie-search > input {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  box-shadow: 0 0 1.5rem rgba(0,0,0,0.25);
  outline: none;
  transition: box-shadow 0.55s ease-in;
}

#movie-search > input:focus {
  box-shadow: 0 0 1rem rgba(8, 79, 160, 0.493);
}

#movie-search > button {
  position: absolute;
  top: 0.95rem;
  right: 0;
  border: none;
  background: rgb(38, 108, 189);
  font-size: 2rem;
  cursor: pointer;
  padding: 0.85rem 1.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

#movie-search > button > svg {
  fill: rgb(255, 255, 255);
}

.movie-list {
  list-style-type: none;
  padding: 2rem;
}

.movie {
  width : 85%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fade-in;
  animation-duration: 0.55s;
  animation-timing-function: ease-in;
}

.movie > img {
  width: 30%;
}



/* Media querys */

@media (min-width: 66rem) {
  #movie-search>input {
    width: 66%;
  }

  #movie-search>button {
    right: 5%;
  }
}

@media (min-width: 66rem) {
  #movie-search>input {
    width: 45%;
  }
  #movie-search>button {
    right: 25%;
  }
}

/* ANIMAIONS*/

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}