.main-header {
  width: 100%;
  background: rgb(33, 30, 58);
  padding: 1rem;
  box-shadow: 0 0 20px rgba(33, 30, 58, 0.35);
}

.main-header img {
  width: 5rem;
  height: 5rem;
}

#movie-search {
  width: 80%;
  padding: 1rem;
  position: relative;
  margin: 0 auto;
}

#movie-search > input {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  box-shadow: 0 0 1.5rem rgba(0,0,0,0.25);
  outline: none;
  transition: box-shadow 0.55s ease-in;
}

#movie-search > input:focus {
  box-shadow: 0 0 1rem rgba(8, 79, 160, 0.493);
}

#movie-search > button {
  position: absolute;
  top: 0.95rem;
  right: 0;
  border: none;
  background: rgb(38, 108, 189);
  font-size: 2rem;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

#movie-search > button > svg {
  fill: rgb(255, 255, 255);
}

.movie-list,
.favorites-list {
  list-style-type: none;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  position: relative;
  width : 100%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: flex-start;
  animation-name: fade-in;
  animation-duration: 0.55s;
  animation-timing-function: ease-in;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  border-radius: 0.5rem;
}

.movie .img {
  width: 40%;
  height: 25rem;
  background-position: center center;
  background-size: cover;
  border-radius: 0.5rem 0 0 0.5rem;
  animation-name: fade-in;
  animation-duration: 0.55s;
  animation-timing-function: ease-in;
}

.infos {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 2rem;
}

.main-infos {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.rating {
  background: rgb(22, 19, 31);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  position: relative;
}

.score {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  border: 3px solid rgb(30, 243, 30);
  border-radius: 50%;
  width: 3.4rem;
  height: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
}

.title {
  width: 60%;
  margin-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.release {
  width: 100%;
  font-size: 1.4rem;
  color: rgba(0,0,0,0.75);
  margin-top: 1rem;
  text-align: center;
}

.overview {
  width: 100%;
  padding: 0.5rem;
  line-height: 1.25;
  font-size: 1.3rem;
  margin-top: 0;
}

.movie-detail,
.movie-detail-on {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background: rgb(17, 15, 15);
  border-radius: 5px;
  display: none;
}

.movie-detail-on {
  display: block;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin-top: -13%;
}

.movie-detail-on iframe {
  position: absolute;
        top:22px;
        left: 0;
        width: 100%;
        height: 100%;
}

.close-modal {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10000;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 29px;
  color: #fff;
}

.favorite {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.45s ease-in;
}

.favorite-true {
  color: rgb(255, 191, 15);
}

/* Media querys */

@media (min-width: 760px) {
  #movie-search>input {
    width: 66%;
  }

  #movie-search>button {
    right: 5%;
  }

  .movie {
    width: 45%;
  }
}

@media (min-width: 1100px) {
  #movie-search>input {
    width: 45%;
  }
  #movie-search>button {
    right: 25%;
  }
  .movie {
    width: 30%;
  }
}

/* ANIMAIONS*/

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}