.trending {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 30rem;
  padding: 0;
}

.trending h3 {
  font-size: 1.75rem;
  padding: 1rem;
}

.trending a {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0 2rem;
}

.trending ul {
  overflow-y: hidden;
  width: 100%;
  list-style: none;
  height: 20rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
}

.trending ul::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.trending ul li {
  position: absolute;
  width: 10rem;
  box-shadow: 0.5rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  transition: all 0.35s ease-in;
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending ul li:hover {
  transform: scale(1.25);
  box-shadow: none;
}

.trending ul li img {
  max-width: 100%;
  border-radius: 1.5rem;
}

