.trending {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 30rem;
  overflow: scroll;
  padding: 2rem;
}

.trending ul {
  width: 100%;
  list-style: none;
  height: 20rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.trending ul li {
  position: absolute;
  width: 10rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
}

.trending ul li img {
  max-width: 100%;
  border-radius: 1rem;
}

